Source: gka-calendar-qt
Priority: extra
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends:
 debhelper (>= 9),
 intltool,
 cmake,
 extra-cmake-modules,
 python3:any,
 qml-module-qtorganizer,
 qml-module-qtquick2,
 qml-module-qttest,
 qtbase5-dev,
 qtdeclarative5-dev-tools,
Standards-Version: 3.9.8
Section: misc
Homepage: https://github.com/adamboardman/gka-calendar-qt
Vcs-Git: https://github.com/adamboardman/gka-calendar-qt.git

Package: gka-calendar-qt
Architecture: all
Depends:
 ${misc:Depends},
 qmlscene,
 qml-module-qt-labs-settings,
 qml-module-qtcontacts,
 qml-module-qtorganizer,
 qml-module-ubuntu-components,
 qtcontact5-galera,
 qtorganizer5-eds,
Description: Calendar application for touch+mouse+keyboard operation
 The Calendar application gives easy access to day, week and year views.
 .
 Based on QT.

