Source: gka-calendar-qt
Priority: extra
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends: cmake,
               extra-cmake-modules
               debhelper (>= 9),
               intltool,
               python3:any,
               qml-module-qtorganizer,
               qml-module-qtquick2,
               qml-module-qttest,
               qt5-default,
               qtdeclarative5-dev-tools,
Standards-Version: 3.9.8
Section: misc
Homepage: https://github.com/adamboardman/gka-calendar-qt
Vcs-Git: https://github.com/adamboardman/gka-calendar-qt.git

Package: gka-calendar-qt
Architecture: all
Depends: ${misc:Depends},
         qmlscene,
         qml-module-qt-labs-settings,
         qml-module-qtcontacts,
         qml-module-qtorganizer,
         qml-module-ubuntu-components,
         qtcontact5-galera,
         qtorganizer5-eds,
Description: Calendar application for Gemini PDA
 The Calendar application gives easy access to day, week and year views.

